<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> CORREO
    </div>
    <div class="d-flex align-items-center">
      <i class="bi bi-phone"></i> REDES SOCIALES
    </div>
  </div>
</div>
<!-- ======= Cabezera ======= -->
<header id="header" class="">
<div class="container d-flex align-items-center">

  <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>
 <!-- ======== Navegacion =========-->
  <nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
      <li><a class="nav-link scrollto " routerLink="/Inicio" routerLinkActive='active'>Inicio</a></li>
      <ul>

        <li class="dropdown"><a routerLink="/Catalogo" routerLinkActive='active'><span>Catalogo</span> <i class="bi bi-chevron-right"></i></a>
          <ul>
            <li><a routerLink="/Filtro1" routerLinkActive='active'>Filtro 1</a></li>
            <li><a a routerLink="/Filtro2" routerLinkActive='active'>Filtro 2</a></li>
            <li><a routerLink="/Filtro1">Filtro 3</a></li>
          </ul>
        </li>
      </ul>
      <li><a class="nav-link scrollto" a routerLink="/Nosotros" routerLinkActive='active'>¿Quienes Somos?</a></li>
      <li><a class="nav-link scrollto" a routerLink="/Contacto" routerLinkActive='active'>Contacto</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- Fin de Navegacion  -->

  <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Iniciar</span> Sesion</a>

</div>
</header><!-- Fin de Cabecera -->
