<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" routerLink="/admin/info" >Arbutus Mexico</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"  />
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#!">Configuraciones</a></li>

              <li><hr class="dropdown-divider" /></li>
              <li><button class="btn btn-danger " (click)=" loggedIn()">CERRAR SESION</button></li>
          </ul>
      </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                  <div class="sb-sidenav-menu-heading">Volver a Inicio</div>
                  <a class="nav-link" routerLink="/admin/info">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Inicio
                  </a>
                  <div class="sb-sidenav-menu-heading">Formularios</div>
                  <a class="nav-link" routerLink="/admin/subirArbuts">
                      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                      Alta Arbutus
                  </a>
                  <a class="nav-link" routerLink="comarostaphyliscrear" >
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Alta Comarostaphilys
                </a>
                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Alta Usuario
              </a>
                  <div class="sb-sidenav-menu-heading">Lista</div>
                  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                      <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                      Ver Madroños
                      <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav">
                          <a class="nav-link" routerLink="/admin/arbutusLista" >Arbutus</a>
                          <a class="nav-link" href="layout-sidenav-light.html">Comarostaphilys</a>
                      </nav>
                  </div>

                  <a class="nav-link" routerLink="/admin/tabla">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabla Arbutus
                </a>
                <a class="nav-link" routerLink="/admin/tabla">
                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                  Tabla Comarostaphilys
              </a>
                <a class="nav-link" routerLink="/admin/tabla">
                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                  Tabla usuarios
              </a>

                  <div class="sb-sidenav-menu-heading">Herramientas</div>

              </div>
          </div>
          <div class="sb-sidenav-footer">
              <div class="small">Bienvenido:</div>
              Administrador
          </div>
      </nav>
  </div>
  <div id="layoutSidenav_content">
      <main>

          <router-outlet></router-outlet>

      </main>
  </div>
</div>


