<div class="row">
  <div class="col-md-4 p-4" *ngFor="let comarostaphylis of comarostaphylis">
      <div class="card card-foto" (click)="seleccionarTarjeta(comarostaphylis._id)">
        <div class="card-header" id="cardTitulo" >
           <p id="titulo"><b>{{comarostaphylis.especie}}</b></p>
        </div>
        <img  [src]="'http://localhost:4000/' + comarostaphylis.imagen" class="img-card-top w-100">
          <div class="card-body">
              <p class="card-text"><b>Estado:</b>  {{comarostaphylis.estado}}</p>
              <p class="card-text" ><b>Habito:</b> {{comarostaphylis.habito}}</p>
              <p class="card-text" ><b>Peciolos Ramillas:</b> {{comarostaphylis.peciolos_ramillas}}</p>
              <p class="card-text" ><b>Hojas Duracion Textura:</b>{{comarostaphylis.hojas_Duracion_Textura}}</p>
              <p class="card-text" ><b>Hojas Anchas:</b> {{comarostaphylis.hojas_Anchas}}</p>
              <p class="card-text" ><b>Hojas Margen:</b> {{comarostaphylis.hojas_Margen}}</p>
              <p class="card-text" ><b>Hojas Enves:</b> {{comarostaphylis.hojas_Enves}}</p>
              <p class="card-text" ><b>inflorescencia:</b> {{comarostaphylis.inflorescencia}}</p>
              <p class="card-text" ><b>Flores:</b> {{comarostaphylis.flores}}</p>
          </div>

      </div>
  </div>
</div>


