<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h3>First Slide</h3>
        <p>This is a description for the first slide.</p>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second Slide</h3>
        <p>This is a description for the second slide.</p>
      </div>
    </div>


    <div class="lets_launch launch_bg_1 overlay2">
        <div class="launch_text text-center">
            <h3>Necesitas Ponerte en contacto con Nosotros?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsam tempore quos nihil maxime officiis quo architecto quidem animi, soluta amet reiciendis quia minima, veritatis recusandae culpa? Quam, vel praesentium.</p>
            <div class="chat">
                <a class="boxed_btn_green" href="#">
                    <i class="flaticon-chat"></i>
                    <span>Contactanos</span>
                </a>
                <a class="boxed_btn_green2" href="#">
                    <span>Nosotros</span>
                </a>
            </div>
        </div>
    </div>
  
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
<!-- Footer section end -->

  <!-- Slide Three - Set the background image for this slide in the line below -->
  <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third Slide</h3>
      <p>This is a description for the third slide.</p>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


 <!-- for_box -->
 <div class="for_box_bg">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
              <div class="for_box">
                  <i><img src="images/1.png" alt="#"/></i>
                  <span>1996923</span>
                  <h3>Madroños Total</h3>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
              <div class="for_box">
                  <i><img src="images/2.png" alt="#"/></i>
                  <span>8000</span>
                  <h3>Especie Arbutus</h3>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
              <div class="for_box">
                  <i><img src="images/3.png" alt="#"/></i>
                  <span>60002</span>
                  <h3>Especie 2</h3>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
              <div class="for_box">
                  <i><img src="images/4.png" alt="#"/></i>
                  <span>1623</span>
                  <h3>Estados</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end for_box -->

<section>
<!-- vegetable -->
<div id="vegetable" class="vegetable">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div  class="titlepage">
          <h2> Especies <strong class="llow">Madroños</strong> </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
        <div class="vegetable_shop">
          <h3>Especie Arbutus</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nobis tenetur reiciendis similique nam officiis, non velit minus asperiores fuga nisi quas provident totam veritatis veniam modi harum optio? Laboriosam! </p>
        </div>
      </div>
       <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
        <div class="vegetable_img">
         <figure><img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="#"/></figure>
         <span>01</span>
        </div>
      </div>
       <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
        <div class="vegetable_img margin_top">
         <figure><img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="#"/></figure>
         <span>02</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end vegetable -->
</section>
    <!-- project section start -->
    <div class="project_section layout_padding">
    	<div class="container">
    		<h1 class="partner_text">Empeiza ahora <br> A conocer las especies que tenemos en mexico </h1>
    		<p class="lorem_ipsum_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quo tenetur eum quae similique necessitatibus sint dolorum cum eaque deserunt maxime vero tempore cumque, dolor odio, amet voluptatibus quod laboriosam.</p>
            <div class="choice_main">
            	<div class="choose_bt"><a href="#">Ir a filtro</a></div>
            </div>
    	</div>
    </div>


    <section>
            <!-- Service Start -->
            <div class="service">
              <div class="container">
                  <div class="section-header text-center">
                      <p>Estados</p>
                      <h2>Algunos de los estados que cuentan con madroños</h2>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="service-item">
                              <div class="service-img">
                                  <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Aguascalientes</h3>
                                  <a class="btn" href="img/service-1.jpg" data-lightbox="service">90</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="service-item">
                              <div class="service-img">
                                <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Sonora</h3>
                                  <a class="btn" href="img/service-2.jpg" data-lightbox="service">90</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                          <div class="service-item">
                              <div class="service-img">
                                <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Zacatecas</h3>
                                  <a class="btn" href="img/service-3.jpg" data-lightbox="service">90</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                          <div class="service-item">
                              <div class="service-img">
                                <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Baja California</h3>
                                  <a class="btn" href="img/service-4.jpg" data-lightbox="service">90</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                          <div class="service-item">
                              <div class="service-img">
                                <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Zacatecas</h3>
                                  <a class="btn" href="img/service-5.jpg" data-lightbox="service">90</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                          <div class="service-item">
                              <div class="service-img">
                                <img src="../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg" alt="Image">
                                  <div class="service-overlay">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                      </p>
                                  </div>
                              </div>
                              <div class="service-text">
                                  <h3>Zacatecas</h3>
                                  <a class="btn" href="img/service-6.jpg" >90</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Service End -->
        </section>



    <!-- lets_launch_start -->
    <div class="lets_launch launch_bg_1 overlay2">
      <div class="launch_text text-center">
          <h3>Necesitas Ponerte en contacto con Nosotros?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsam tempore quos nihil maxime officiis quo architecto quidem animi, soluta amet reiciendis quia minima, veritatis recusandae culpa? Quam, vel praesentium.</p>
          <div class="chat">
              <a class="boxed_btn_green" href="#">
                  <i class="flaticon-chat"></i>
                  <span>Contactanos</span>
              </a>
              <a class="boxed_btn_green2" href="#">
                  <span>Nosotros</span>
              </a>
          </div>
      </div>
  </div>
  <!-- lets_launch_end -->
