<!--Barra de Login-->
 

  	<!-- Page header section start -->
    <section class="page-header-section set-bg"id="section1" >
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <h1 class="header-title"><br><span>Arbutus-Mexico</span>.</h1>
      </div>
    </section>
	<!-- Page header section end -->
<!--BARRA DE NAVEGACIÓN 2-->
<header class="header-area">
		<a href="index.html" class="logo-area" >
			<img src="assets/diseño/loggo.png">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="phone-number">+675 334 567 223</div>
		<nav class="nav-menu">
			<ul> 
				<li><a class="nav-link scrollto active" routerLink="/Inicio" routerLinkActive='active' style="background: rgb(92,92,92);
          background: linear-gradient(0deg, rgba(92,92,92,1) 25%, rgba(0,0,0,1) 69%);color: #baff00;">Inicio</a></li>
				<li><a class="nav-link scrollto active" routerLink="/" routerLinkActive='active' style="background: rgb(92,92,92);
          background: linear-gradient(0deg, rgba(92,92,92,1) 25%, rgba(0,0,0,1) 69%);color: #baff00;">catalogo</a></li>
				<li><a class="nav-link scrollto"  routerLink="/nosotros" routerLinkActive='active' style="background: rgb(92,92,92);
          background: linear-gradient(0deg, rgba(92,92,92,1) 25%, rgba(0,0,0,1) 69%);color: #baff00;">Nosotros</a></li>
				<li><a class="nav-link scrollto "  routerLink="/contacto" routerLinkActive='active' style="background: rgb(92,92,92);
          background: linear-gradient(0deg, rgba(92,92,92,1) 25%, rgba(0,0,0,1) 69%);color: #baff00;">Contactanos</a></li>
				<li><a class="nav-link scrollto "  routerLink="/singup" routerLinkActive='active' style="background: rgb(92,92,92);
          background: linear-gradient(0deg, rgba(92,92,92,1) 25%, rgba(0,0,0,1) 69%);color: #baff00;">Login</a></li>
			</ul>
		</nav>
	</header>
  
 





<!--BARRA DE NAVEGACIÓN-->
<!-- End Header -->







 


<router-outlet></router-outlet>
