

  <!-- Slide Three - Set the background image for this slide in the line below -->

<!-- start banner Area -->
  <section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">
            About Us
          </h1>
          <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
        </div>
        <div class="about_box">
          <h2>Acerca de los Madroños<br><strong class="black"> y ArbutusMexico</strong></h2>
          <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
          <a href="#">Leer mas</a>
      </div>
      </div>
    </div>
    <br>
    <br>  <br>  <br>

  </section>


 
  
  <!-- End banner Area -->
 