

/* line 114, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.boxed_btn_green {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 12px 30px;
  background: #00D363;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 124, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.boxed_btn_green:hover {
  background: transparent;
  color: #00D363;
  border: 1px solid #00D363;
  color: #00D363 !important;
}


.boxed_btn_green2:hover {
  color: #fff !important;
  background: #00D363;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* carrusel*/


/* line 132, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.boxed_btn_green2 {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 12px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
  color: #00D363;
  border: 1px solid #00D363;
  display: inline-block;
}

/* line 144, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.boxed_btn_green2:hover {
  color: #fff !important;
  background: #00D363;
}




.about-banner {
  background: url(../../../assets/teodor-kuduschiev-H8_Nlhv-6Wc-unsplash.jpg) center;
  background-size: cover;
}

.about-banner .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

.about-content {
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .about-content {
    margin-top: 70px;
  }
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-content a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.about-content .lnr {
  margin: 0px 10px;
  font-weight: 600;
}

/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}
