<section id="Capa" class="Capa">
    <div class="container">


   <!-- Area de servicio -->
   <div class="three_box">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="box_text">
                <h3>MISION</h3>
                <span class="fa-stack fa-4x">
                    <img src="https://img.icons8.com/office/80/000000/ratings.png"/>
              </span>
                <p>Contamos con la mas grande variedad de marcas del Mercado dando garantía al cliente sobre su Producto.</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="box_text">
                <h3>VISION</h3>
                <span class="fa-stack fa-4x">
                    <img src="https://img.icons8.com/office/80/000000/checked--v2.png"/>
              </span>
                <p>Los accesorios que se venden son de la mejor calidad ademas de que nuestro
                principal provedor es la marca original</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="box_text">
                <h3>VALORES</h3>
                <span class="fa-stack fa-4x">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png"/>
              </span>
                <p>En cuanto a la distribucion Carscompany Tuning es uno de los mas grandes distribuidores  en cuanto Deportivo tanto como Off-Road </p>
             </div>
          </div>
       </div>
    </div>
  </div>



</div>
    </section>




    <section id="Capa" class="Capa">
      <div class="container">
         <div id="HacercaElemento" class="HacercaElemento">
            <div class="container">
                <div class="row">
          
                    <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                        <div class="HacercaElemento_box">
                            <h2>Madroños<br><strong class="black"> Y Arbutus Mexico</strong></h2>
                            <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                            
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                        <div class="HacercaElemento_img">
                          <!-- comentario <img src="../assets/img/2.png" alt="img" />  -->
                            <figure><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d66272.657411601!2d-102.27220479999998!3d21.88902400000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2smx!4v1635839109668!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></figure>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
   </section>

   <section id="Capa2" class="Capa2">
      <div class="container">
         <div id="HacercaElemento" class="HacercaElemento">
            <div class="container">
                <div class="row">
          
                    
                    <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                        <div class="HacercaElemento_img">
                            <figure><iframe width="560" height="315" src="https://www.youtube.com/embed/oTnm2sr6C10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></figure>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                     <div class="HacercaElemento_box">
                         <h2>Madroños<br><strong class="black"> Y Arbutus Mexico</strong></h2>
                         <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                         <a href="#">Ver mas</a>
                     </div>
                 </div>

                </div>
            </div>
          </div>
      </div>
   </section>


  


<!-- Carrusel -->
<section>
   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner" role="listbox">
       <div class="carousel-item active" style="background-image: url('../assets/img/Arbutus_Madrensis.jpg')">
         <div class="carousel-caption d-none d-md-block">
           <h3>Arbutus Madrensis</h3>
           <p>This is a description for the first slide.</p>
         </div>
       </div>
       <div class="carousel-item" style="background-image: url('../assets/img/Arbutus_Occidentalis.jpg')">
         <div class="carousel-caption d-none d-md-block">
           <h3>Arbutus Occidentalis</h3>
           <p>This is a description for the second slide.</p>
         </div>
       </div>
       <div class="carousel-item" style="background-image: url('../assets/img/Arbutus_Xalapensis_Var_Xalapensis.jpg')">
         <div class="carousel-caption d-none d-md-block">
           <h3>Arbutus Xalapensis Var Xalapensis</h3>
           <p>This is a description for the third slide.</p>
         </div>
       </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
 </section>
 <!-- Carrusel -->


 <section id="Capa2" class="Capa2">
   <div class="container">
       <h3>CONOCENOS ...</h3>
       <B><P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, consequuntur assumenda 
           est non minu eveniet beatae fugiat error laboriosam amet vero magni accusantium porro, nihil 
           quisquam laborum tempora sunt obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, consequuntur assumenda 
           est non minu eveniet beatae fugiat error laboriosam amet vero magni accusantium porro, nihil 
           quisquam laborum tempora sunt obcaecati.</P></B>

           
           
   </div>
</section>