




/** HacercaElemento informacion  **/
.HacercaElemento {
  padding: 90px 0;
}

.HacercaElemento .HacercaElemento_img figure {
  margin: 0px;
}

.HacercaElemento .HacercaElemento_box {
  text-align: left;

}

.HacercaElemento .HacercaElemento_box h2 {
  font-weight: 500;
  font-size: 43px;
  color:white;
  line-height: 55px;
  padding-bottom: 7px;
 display: block;
 text-transform: uppercase;
     padding: 0px 0px 6px 0px;
         border-bottom: aqua solid 1px;
}

.HacercaElemento .HacercaElemento_box p {
  font-size: 17px;
  line-height: 33px;
  color: white;
  padding: 40px 0px;
  font-weight: 500;
}
.HacercaElemento .HacercaElemento_box a {
      color: #fff;
 font-size: 17px;
 line-height: 29px;
 background: #052501;
 border: #052501 solid 1px;
 padding: 12px 40px;
 display: inline-block;
 width: 231px;
text-align: center;
border-radius: 18px;
}
.HacercaElemento .HacercaElemento_box a:hover {
 color: #fff;
 background: #4bc714;
 border: #4bc714 solid 1px;
}
.HacercaElemento_img {margin-top: 25px;}
.HacercaElemento_img figure {margin: 0;}
.HacercaElemento_img figure img {width: 100%;}
/** end about **/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.HacercaElemento-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.HacercaElemento-mf .HacercaElemento-img {
  margin-bottom: 2rem;
}
.HacercaElemento-mf .HacercaElemento-img img {
  margin-left: 10px;
}
@media (min-width: 767px) {
  .HacercaElemento-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.skill-mf span {
  color: #4e4e4e;
}
.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}
.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #0078ff;
}





/*Carusel*/
.carousel-item {
  height: 65vh;         /*-----especifica la altura del area de contenido-----*/
  min-height: 300px;     /*-----altura mínima------*/
  background: no-repeat center center scroll; /*-----define como se repiten los fondos del documento------*/
  -webkit-background-size: cover;/*-----especifica el tamaño de las imágenes de fondo renderizandola al mayor tamaño sin deformarla------*/
  -moz-background-size: cover; /*-----coincide con un elemento specifica el tamaño de las imágenes de fondo renderizandola al mayor tamaño sin deformarla------*/
  -o-background-size: cover;
  background-size: cover;
}



/*--------------------------------------------------------------
# Capa
--------------------------------------------------------------*/
.Capa {
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.5)), url("../../../assets/img/Comarostaphylis_Mucronata.jpg") fixed center center;
  background-size: cover; /*----  tamaño deñ bg Escala la imagen al mayor tamaño posible sin estirarla.---*/
  padding: 50px 0;    /*----establece el espacio de relleno requerido por todos los lados de un elemento.--*/
}
.Capa h3 {
  color: #fff; /*---- tamaño y grosor de h3---*/
  font-size: 28px;
  font-weight: 700;
  
}
.Capa p {
  color: #fff; /*----color texto---*/
}
.Capa .Capa-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;  /*----  grosor tamaño espaciado margenes superiores bordes color de fuente y tipo---*/
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.Capa .Capa-btn:hover {
  background: #00c1c1;      /*----color al pasar le cursor sobre el botton---*/
  border: 2px solid #00c1c1;      /*----  bordes y color    ---*/
}



  
/*--------------------------------------------------------------
# Capa 2
--------------------------------------------------------------*/
.Capa2 {
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.5)), url("../../../assets/img/Comarostaphylis_Discolor_Sub_Discolor.jpg") fixed center center;
  background-size: cover;
  padding: 50px 0;
}
.Capa2 h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  
}
.Capa2 p {
  color: #fff;
}
.Capa2 .Capa2-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.Capa2 .Capa2-btn:hover {
  background: #00c1c1;
  border: 2px solid #00c1c1;
}