<div class="container-fluid px-4">
  <h1 class="mt-4">Tabla ARBUTUS</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">TABLA</li>
  </ol>
</div>



<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Especie</th>
      <th scope="col">Imagen</th>
      <th scope="col">Estado</th>
      <th scope="col">Habito</th>
      <th scope="col">Corteza Ramas</th>
      <th scope="col">Corteza Ramillas</th>
      <th scope="col">Peciolos</th>
      <th scope="col">Hojas</th>
      <th scope="col">Flores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
