<app-navegacion></app-navegacion>
<!-- start banner Area -->
<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Catalogo
        </h1>
        <p class="text-white link-nav"><a href="index.html">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> Nosotros</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Caja de Diagnosticos -->
<div class="three_box">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="box_text">
              <h3>Rines Certificados</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/officel/80/000000/wheel.png"/>
            </span>
              <p>Contamos con la mas grande variedad de marcas del Mercado dando garantía al cliente sobre su Producto.</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <h3>Accesorios</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/plasticine/100/000000/car-theft.png"/>
            </span>
              <p>Los accesorios que se venden son de la mejor calidad ademas de que nuestro
              principal provedor es la marca original</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <h3>DISTRIBUCIÓN</h3>
              <span class="fa-stack fa-4x">
                <img src="https://img.icons8.com/color/96/000000/ford.png"/>
            </span>
              <p>En cuanto a la distribucion Carscompany Tuning es uno de los mas grandes distribuidores  en cuanto Deportivo tanto como Off-Road </p>
           </div>
        </div>
     </div>
  </div>
</div>

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="left-text-content">
                      <div class="section-heading">
                          <h6>Catalogo</h6>
                          <h2>Lorem ipsum dolor sit amet consectetur</h2>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <div class="service-item">
                                  <img src="assets/images/service-item-01.png" alt="">
                                  <h4>Lorem</h4>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="service-item">
                                  <img src="assets/images/service-item-01.png" alt="">
                                  <h4>Lorem</h4>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="service-item">
                                  <img src="assets/images/contact-info-03.png" alt="">
                                  <h4>Lorem</h4>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                              <div class="service-item">
                                  <img src="assets/images/contact-info-03.png" alt="">
                                  <h4>Lorem</h4>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="right-text-content">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestiae molestias dolore maiores minima consequatur tempore ex facilis ab porro laborum amet eveniet praesentium illum, in eum. Dolorum, corporis laborum.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** About Area Ends ***** -->

  <!-- ***** Features Big Item Start ***** -->
  <section class="section" id="features">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                  <div class="features-item">
                      <div class="features-icon">
                          <img src="assets/images/features-icon-1.png" alt="">
                      </div>
                      <div class="features-content">
                          <h4>Lorem</h4>
                          <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                          <button type="button" class="btn btn-primary">Primary</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                  <div class="features-item">
                      <div class="features-icon">
                          <img src="assets/images/features-icon-1.png" alt="">
                      </div>
                      <div class="features-content">
                          <h4>Lorem</h4>
                          <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                          <button type="button" class="btn btn-primary">Primary</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                  <div class="features-item">
                      <div class="features-icon">
                          <img src="assets/images/features-icon-1.png" alt="">
                      </div>
                      <div class="features-content">
                          <h4>Lorem</h4>
                          <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                          <button type="button" class="btn btn-primary">Primary</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

   <!-- Page Content -->

   <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Portfolio 4
      <small>Subheading</small>
    </h1>



    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Lorem</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius adipisci dicta dignissimos neque animi ea, veritatis, provident hic consequatur ut esse! Commodi ea consequatur accusantium, beatae qui deserunt tenetur ipsa.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

<p>catalogo works!</p>
