<!-- start banner Area -->

<div class="Envoltura">
  <div class="Cubierta">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-9">
              <div class="Contactenos text-center">
                  <h3>Contactanos</h3>
                  <p class="mb-5">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="mt-5 text-center px-3">
                              <div class="d-flex flex-row align-items-center"> <span class="Iconos"><img src="https://img.icons8.com/ios-filled/40/000000/marker.png"/><i class="fa fa-map-marker"></i></span>
                                  <div class="Direccion text-left"> <span><b>Address</b></span>
                                      <p>461, Sugar camp, San jose, California, USA</p>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mt-3"> <span class="Iconos"><img src="https://img.icons8.com/ios-filled/40/000000/phone.png"/><i class="fa fa-phone"></i></span>
                                  <div class="Direccion text-left"> <span><b>Phone</b></span>
                                      <p>501 205 2929</p>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mt-3"> <span class="Iconos"><img src="https://img.icons8.com/ios-glyphs/40/000000/email.png"/><i class="fa fa-envelope-o"></i></span>
                                  <div class="Direccion text-left"> <span><b>Address</b></span>
                                      <p>contact@bbbootstrap.com</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="text-center px-1">
                              <div class="Formulario p-4 py-5 bg-white">
                                  <h5><b>Send Message</b></h5>
                                  <div class="mt-4 inputs"> <input type="text" class="Formulario-control" placeholder="Name"> <input type="text" class="form-control" placeholder="Email"> <textarea class="form-control" placeholder="Type your message"></textarea> </div>
                                  <div class="button mt-4 text-left"> <button class="btn btn-dark">Send</button> </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<section id="Capa" class="Capa">
    <div class="container">

    
       
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color:aqua"><b>Footer Content</b></h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color:aqua"><b>About</b></h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color:aqua"><b>Address</b></h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color:aqua"><b>Follow Us</b></h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <img src="https://img.icons8.com/fluency/48/000000/whatsapp.png"/>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <img src="https://img.icons8.com/fluency/48/000000/youtube-squared.png"/>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <img src="https://img.icons8.com/color/48/000000/gmail-new.png"/>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/>
        </a>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:aqua">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color:aqua"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
        


    </div>
  </section>
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

<!-- End banner Area -->
<p>contacto works!</p>
